.About {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  text-align: left;
  h3 {
    font-size: 2rem;
    margin: 0 0 120px 0;
    text-align: center;
  }
  dl {
    max-width: 600px;
    margin: 50px auto;
    word-break: keep-all;
    dt {
      font-weight: 400;
      font-size: 1rem;
      color: #111;
      margin: 0;
      padding: 0 0 4px 0;
    }
    dd {
      margin: 0;
      p {
        font-weight: 300;
        font-size: 1rem;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 0;
        padding: 8px 0 0 15px;
      }
    }
  }
  .icon {
    text-align: left;
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  @media (max-width: 800px) {
    .icon {
      position: absolute;
      left: 50%;
      top: initial;
      transform: translateX(-50%);
    }
  }
}
